
#bienvenida{
   text-align: center;
   background-image: url("https://image.freepik.com/vector-gratis/diseno-fondo-artistico-acuarela_23-2148503666.jpg");
}

#inicio{
    font-size: 20px;
    text-align: center;
}

#sub_titulos{
    font-size: 20px;
    text-align: center;
}

#espacio{
    padding:20px;
}

#uno{
    font-size: 25px;
    background-color: cornflowerblue;
}

#dos{
    font-size: 25px;
    background-color: burlywood;
    
}


img{
    padding: 20px;

}